/*Header css*/
.preloader .ct-dual-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -khtml-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 64px;
    height: 64px;
}
.preloader .ct-dual-ring:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-width: 10px;
  border-style: solid;
  border-right-color: transparent;
  border-left-color: transparent;
  animation: ct_dual_ring 1.2s linear infinite;
  border-bottom-color: #261870;
  border-top-color: #f37435;
}
.swiper-slider-wrapper .button{
  padding: 15px 45px;
}

/***

====================================================================
  Page Title
====================================================================

***/

.page-title{
  position:relative;
  overflow:hidden;
  background-position:center bottom;
  background-repeat:no-repeat;
  margin-bottom: 0px;
}

.page-title .section-icons{
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
}

.page-title .section-icons .icon-one{
  position:absolute;
  left:6%;
  top:21%;
  width:58px;
  height:67px;
  background-repeat:no-repeat;
}

.page-title .section-icons .icon-two{
  position:absolute;
  left:6%;
  top:65%;
  width:91px;
  height:99px;
  background-repeat:no-repeat;
}

.page-title .section-icons .icon-three{
  position:absolute;
  left:26%;
  top:35%;
  width:58px;
  height:67px;
  background-repeat:no-repeat;
}

.page-title .section-icons .icon-four{
  position:absolute;
  left:48%;
  top:20%;
  width:120px;
  height:120px;
  background-repeat:no-repeat;
}

.page-title .section-icons .icon-five{
  position:absolute;
  left:48%;
  top:74%;
  width:100px;
  height:100px;
  background-repeat:no-repeat;
}

.page-title .section-icons .icon-six{
  position:absolute;
  right:3%;
  top:25%;
  width:128px;
  height:128px;
  background-repeat:no-repeat;
}

.page-title .inner-container{
  position: relative;
  z-index:5;
  padding: 200px 0px 265px;
}

.page-title .auto-container{
  position:relative;
}

.page-title h1{
  position:relative;
  font-size:48px;
  color:#ffffff;
  line-height: 1.3em;
  font-weight: 700;
}

.page-title .bread-crumb {
  position: relative;
  padding: 16px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-title .bread-crumb li{
  position: relative;
  float: left;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
  text-transform: capitalize;
  cursor: default;
  padding-right:  15px;
  margin-right: 12px;

}

.page-title .bread-crumb li:before{
  position: absolute;
  right: -2px;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  content: "\f105";
  font-weight:700;
  font-family: 'Font Awesome 5 Free';
}

.page-title .bread-crumb li:last-child{
  padding-right: 0;
  margin-right: 0;
}

.page-title .bread-crumb li:last-child:before{
  display: none;
}

.page-title .bread-crumb li a{
  color:#ffffff;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.page-title .bread-crumb li a:hover{
  color: #000000;
}

.page-title .section-icons .icon-six,
.page-title .section-icons .icon-two{
    animation-name: float_left_right_two; 
    animation-duration: 5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
  -webkit-animation-name: float_left_right_two; 
    -webkit-animation-duration: 5s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  
  -moz-animation-name: float_left_right_two; 
    -moz-animation-duration: 5s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
  
  -ms-animation-name: float_left_right_two; 
    -ms-animation-duration: 5s; 
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
  
  -o-animation-name: float_left_right_two; 
    -o-animation-duration: 5s; 
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}

.page-title .section-icons .icon-one,
.page-title .section-icons .icon-four{
    animation-name: zoom-fade; 
    animation-duration: 3s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
  -webkit-animation-name: zoom-fade; 
    -webkit-animation-duration: 3s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  
  -moz-animation-name: zoom-fade; 
    -moz-animation-duration: 3s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
  
  -ms-animation-name: zoom-fade; 
    -ms-animation-duration: 3s; 
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
  
  -o-animation-name: zoom-fade; 
    -o-animation-duration: 3s; 
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}

.page-title .section-icons .icon-five{
    animation-name: rotateme; 
    animation-duration: 15s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
  -webkit-animation-name: rotateme; 
    -webkit-animation-duration: 15s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  
  -moz-animation-name: rotateme; 
    -moz-animation-duration: 15s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
  
  -ms-animation-name: rotateme; 
    -ms-animation-duration: 15s; 
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
  
  -o-animation-name: rotateme; 
    -o-animation-duration: 15s; 
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}

@-webkit-keyframes rotateme {
  0% {
      -webkit-transform: rotate(0deg);
      opacity: 1;
    }

  50% {
      -webkit-transform: rotate(180deg);
      opacity: 0.7;
    }
  100% {
      -webkit-transform: rotate(360deg);
      opacity: 1;
    }
}
@-moz-keyframes rotateme {
  0% {
      -moz-transform: rotate(0deg);
      opacity: 1;
    }

  50% {
      -moz-transform: rotate(180deg);
      opacity: 0.7;
    }
  100% {
      -moz-transform: rotate(360deg);
      opacity: 1;
    }
}
@-o-keyframes rotateme {
  0% {
      -o-transform: rotate(0deg);
      opacity: 1;
    }

  50% {
      -o-transform: rotate(180deg);
      opacity: 0.7;
    }
  100% {
      -o-transform: rotate(360deg);
      opacity: 1;
    }
}

@keyframes rotateme {
    
   0% {
      transform: rotate(0deg);
      opacity: 1;
    }

  50% {
      transform: rotate(180deg);
    }
  100% {
      transform: rotate(360deg);
      opacity: 1;
    }
}

@-webkit-keyframes float_left_right_two {
  0% {
    -webkit-transform: translateX(-30px);
    opacity: 1;
  }

  50% {
    -webkit-transform: translateX(0px);
    opacity: 0.80;
  }

  100% {
    -webkit-transform: translateX(-30px);
    opacity: 1;
  }
}

@keyframes float_left_right_two {
  0% {
    transform: translateX(-30px);
    opacity: 1;
  }

  50% {
    transform: translateX(0px);
    opacity: 0.80;
  }

  100% {
    transform: translateX(-30px);
    opacity: 1;
  }
  
}

@-webkit-keyframes zoom-fade {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes zoom-fade {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

/*content css*/

/*----------------
Services
----------------*/

#services-crousel-wrapper {
  padding-bottom: 50px;
}
#services-crousel {
  overflow: hidden;
}
#services-crousel .main-service {
  background: #fff;
  margin-bottom: 50px;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin: 15px 15px;
}
#services-crousel .main-service:hover {
  box-shadow: 0px 0px 10px 1px rgba(124, 96, 213, 0.6);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(124, 96, 213, 0.6);
  -moz-box-shadow: 0px 0px 10px 1px rgba(124, 96, 213, 0.6);
  box-shadow: 0px 0px 10px 1px rgba(124, 96, 213, 0.6);
}
#services-crousel  .service-img {
  overflow: hidden;
}
#services-crousel  .service-img img {
  width: 100%;
  overflow: hidden;
  transition: transform 1.5s;
  -webkit-transition: all 1.5s ease-out 0s;
  -moz-transition: all 1.5s ease-out 0s;
  -ms-transition: all 1.5s ease-out 0s;
  -o-transition: all 1.5s ease-out 0s;
  transition: all 1.5s ease-out 0s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.main-service .service-detail {
  padding: 15px;
}

.main-service .service-detail p{
  line-height: 25px;
}
.main-service .service-detail .service-info {
  border-top: 1px solid #e1e1e1;
  padding: 15px 0 0;
  margin-top: 15px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.main-service .service-detail .service-info ul li {
  margin-right: 10px;
}
.main-service .service-detail .service-info ul li:last-child {
  margin-right: 0;
}
.main-service .service-detail .service-info ul li a i {
  color: #1b0e3d;
  margin-right: 5px;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}
.main-service .service-detail .service-info ul li a:hover i {
  color: #33e2a0;
}
#services-crousel .pagination li {
  margin-right: 10px;
}
#services-crousel .pagination li a {
  box-shadow: 0px 8px 14.4px 1.6px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 8px 14.4px 1.6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 14.4px 1.6px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 14.4px 1.6px rgba(0, 0, 0, 0.15);
}
.main-service .service-detail a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  line-height: 30px;
}
.main-service .service-detail a:hover h5 {
  color: #f37435;
}
.main-service .service-detail h5 {
  margin-bottom: 5px;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}
.main-service  .service-info ul li a {
  line-height: 20px;
}
#services-crousel .blog-one {
  width: 18%;
  position: absolute;
  right: 0px;
  top: 0;
  overflow: hidden;
}
#services-crousel .owl-carousel .owl-nav {
  top: auto;
  bottom: 0px;
  display: flex;
  justify-content: center;
  padding: 0px 15px 0px 0px;
  margin: 20px 0px 0px 0px
}
#services-crousel .owl-carousel .owl-nav i{
  font-size: 80px;
  color: #261870;
  transition: all 0.3s ease-out;
}
#services-crousel .owl-carousel .owl-nav i:hover{
  color: #f37435;
}
.owl-carousel .owl-nav button.owl-prev{
  margin-right: 0px;
}
.blog-left {
  position: absolute;
  left: 0;
  top: 0;
}
.reply-btn:hover {
  color: #1b0e3d;
}
.reply-btn i {
  vertical-align: middle;
}
#services-crousel .service-img .comments-box img {
  width: auto;
}
.iq-choose-info .slide-button {
  display: inline-block;
  height: 50px;
  color: #ffffff;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
  z-index: 4;
  padding: 0px;
  border-radius: 90px;
}
.iq-choose-info .slide-button .first {
  color: #fff;
  padding: 0 30px;
  line-height: 50px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.iq-choose-info .slide-button .second{
  background: #f37435;
  padding: 0 30px;
  line-height: 50px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.rquest-sign-section .form-label-outside{
  color: #261870;
}
.slide-button:hover .first {
  margin-top: -50px;
}
#our-services .services {
  background: #ffffff;
  position: relative;
  z-index: 2;
  border: 1px solid rgba(238, 238, 238, 1.0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
}
#our-services .services:hover {
  background-color: rgba(53, 34, 155, 0.7);
  border-color: rgba(53, 34, 155, 0);
  transition: all 0.5s ease-out 0s;
  color: #ffffff;
}
#our-services .services:hover h3,
#our-services .services:hover a{
  color: #ffffff;
}
#our-services .services a {
  padding: 15px 30px;
  display: flex;
  line-height: 18px;
  color: #261870;
  font-weight: 400;
  justify-content: space-between;
  align-items: center;
}
#our-services .services-info {
  padding: 30px 30px;
  border-bottom: 1px solid #f2f2f2;
  text-align: left;
}
#our-services .services-info .service-shap {
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 86px;
    position: relative;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: one-animated 10s infinite;
    overflow: hidden;
    margin-right: 25px;
}
#our-services .service-shap.primary {
  background-color: #261870;
  color: #ffffff;
  background-image: linear-gradient(-45deg, #261870 0%, #261870 100%);
}
#our-services .button-info .mdi{
  font-size: 30px;
}

.service-info-header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#our-services.singeItService .services-info {
  border-bottom: 0px solid #f2f2f2;
}

#our-services.singeItService .services .service-shap i {
  font-size: 26px;
}

#our-services.singeItService .services-info .service-shap {
  width: 60px;
  height: 60px;
  max-width: 60px;
}

#our-services.singeItService h3{
  font-size: 20px;
  flex: 0 0 72%;
}

ul.commonBullet{
  padding: 0px 0px 0px 0px;
  margin: 20px 0px 0px 0px;
}

ul.commonBullet li{
  margin: 0px 0px 6px 0px;
  padding: 0px 0px 0px 0px;
}

@keyframes ct_dual_ring{
  0%
  {
    transform:rotate(0deg)
  }
  100%{
    transform:rotate(360deg)
    }
}
@-webkit-keyframes ct_dual_ring{
  0%{
    -webkit-transform:rotate(0deg)
  }
  100%
  {
    -webkit-transform:rotate(360deg)
  }
}

@keyframes one-animated {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%
    box-shadow:15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%
    box-shadow:-10px -5px 50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
  }
}
.services .service-shap i {
  font-size: 40px;
}
#news-letter-section {

  background-image: url('../images/icee-it-subscriber.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

/* About Us page */

.about-iceel{
  padding: 0px 0px 80px 0px;
}

/* Services Page */

#allServices .main-service {
  background: #fff;
  margin-bottom: 50px;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin: 15px 13px;
  box-shadow: 0px 0px 5px 0px rgba(124, 96, 213, 0.6);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(124, 96, 213, 0.6);
  -moz-box-shadow: 0px 0px 5px 0px rgba(124, 96, 213, 0.6);
  box-shadow: 0px 0px 5px 0px rgba(124, 96, 213, 0.6);
}

#allServices .main-service:hover {
  box-shadow: 0px 0px 10px 1px rgba(124, 96, 213, 0.6);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(124, 96, 213, 0.6);
  -moz-box-shadow: 0px 0px 10px 1px rgba(124, 96, 213, 0.6);
  box-shadow: 0px 0px 10px 1px rgba(124, 96, 213, 0.6);
}

#allServices .owl-carousel button {
  position: absolute;
  top: calc(-100px);
}
#allServices .owl-carousel .owl-nav i{
  font-size: 70px;
  color: #261870;
  transition: all 0.3s ease-out;
}
#allServices .owl-carousel .owl-nav i:hover{
  color: #f37435;
}
#allServices .owl-carousel .owl-nav button.owl-prev{
  margin-right: 0px;
  right: 70px;
}
#allServices .owl-carousel .owl-nav button.owl-next{
  right: 0px;
}

#allServices .heading{
  border-bottom: 2px solid #261870;
  padding: 0px 0px 20px 0px;
}

/*contact page*/

.contactFormHeading{
  font-size: 28px;
  margin: 0px 0px 30px 0px;
  padding: 0px 0px 5px 0px;
  border-bottom: 2px solid #f37435;
}

.subHeadingServices{
  font-size: 22px;
  color: #f37435;
  line-height: 40px;
  font-weight: 500;
}

/*Footer css*/

.site-footer {
  font-size: 15px;
  color: #000000;
}
.bg-overlay {
  position: relative;
}
.bg-overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  display: block;
}
.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.site-footer .top-footer {
  padding: 80px 0 80px;
  background-color: rgba(255,255,255,.95);
}
.site-footer .top-footer {
  background-image: url('../images/iceel-net-contact3.jpg');
  background-size: cover; 
}
.site-footer .top-footer .footer-widget-title {
  font-size: 25px;
  margin-bottom: 20px;
}
.site-footer ul {
  list-style: none;
  margin: 0;
}
.site-footer ul.menu li {
  margin-bottom: 10px;
}
.site-footer ul.menu li a {
  color: inherit;
  position: relative;
}
.site-footer ul.menu li a:before{
  font-family: "Font Awesome 5 Free";
  content:'\f061';
  position:absolute;
  top:50%;
  left:-10px;
  -webkit-transform:translate(0,-50%);
  -khtml-transform:translate(0,-50%);
  -moz-transform:translate(0,-50%);
  -ms-transform:translate(0,-50%);
  -o-transform:translate(0,-50%);
  transform:translate(0,-50%);
  opacity:0;-webkit-transition:all .3s linear 0ms;
  -khtml-transition:all .3s linear 0ms;-moz-transition:all .3s linear 0ms;
  -ms-transition:all .3s linear 0ms;
  -o-transition:all .3s linear 0ms;
  transition:all .3s linear 0ms;
  margin-top:-1px
}
.site-footer ul.menu li:hover>a:before{
  opacity: 1;
  left: 0;
}
.site-footer ul.menu li:hover>a {

  color: #f37435;
  padding-left: 20px;
}

@media screen and (min-width: 1200px){
	.site-footer .top-footer .ct-footer-item.col-xl-3:nth-child(1) {
	    -ms-flex: 0 0 36.8%;
	    flex: 0 0 36.8%;
	    max-width: 36.8%;
	    padding-right: 70px;
	}
	.site-footer .top-footer .ct-footer-item.col-xl-3:nth-child(2) {
    -ms-flex: 0 0 24.8%;
    flex: 0 0 24.8%;
    max-width: 24.8%;
	}
	.site-footer .top-footer .ct-footer-item.col-xl-3:nth-child(3) {
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;
	}
	.site-footer .top-footer .ct-footer-item.col-xl-3:nth-child(4) {
    -ms-flex: 0 0 16.4%;
    flex: 0 0 16.4%;
    max-width: 16.4%;
	}
}
.site-footer .bottom-footer {
  border-top: 1px solid #eef3fa;
  background-color: #fff;
  padding: 9px 0;
}
.site-footer .bottom-footer .bottom-copyright {
  flex-grow: 1;
}
.site-footer .bottom-footer .row>div {
  padding: 5px 15px;
}
.site-footer .bottom-footer .bottom-social {
  position: relative;
  overflow: hidden;
}
.site-footer .bottom-footer .bottom-social a i{
  font-size:12px;
  height:41px;
  width:41px;
  -webkit-transition:all .3s linear 0ms;
  -khtml-transition:all .3s linear 0ms;
  -moz-transition:all .3s linear 0ms;
  -ms-transition:all .3s linear 0ms;
  -o-transition:all .3s linear 0ms;
  transition:all .3s linear 0ms;
  background-color:#0064eb;
  color:#fff;
  text-align:center;
  line-height:41px;
  -webkit-border-radius:41px;
  -khtml-border-radius:41px;
  -moz-border-radius:41px;
  -ms-border-radius:41px;
  -o-border-radius:41px;
  border-radius:41px

}
.site-footer .bottom-footer .bottom-social a:hover i{
  opacity: 0.5;
}
.site-footer .bottom-footer .bottom-social a+a {
  margin-left: 15px;
}
.site-footer .bottom-footer .row>div {
  padding: 5px 15px;
}
.site-footer .bottom-footer .bottom-social a i.fa-facebook {
    background-color: #3b5999;
}
.site-footer .bottom-footer .bottom-social a i.fa-twitter {
    background-color: #1da1f2;
}
.site-footer .bottom-footer .bottom-social a i.fa-linkedin-in {
    background-color: #0073b0;
}
.site-footer .bottom-footer .bottom-social a i.fa-pinterest-p {
    background-color: #e60023;
}